#board {
   --cell-size: 60px;
   border: 4px solid transparent;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 0 4px #fff, 0 0 5px 8px #aaa;
}
#board.game-ended {
   animation: EndGame 0.2s ease-in-out forwards;
}
@keyframes EndGame {
   0% {
      filter: brightness(100%) grayscale(0%);
   }
   100% {
      filter: brightness(60%) grayscale(20%);
   }
}

#board .row {
   height: var(--cell-size);
}

#board .square {
   width: var(--cell-size);
   height: var(--cell-size);
   display: inline-block;
   user-select: none;
   -webkit-user-drag: none;
}
#board .square.square-1 {
   background-color: rgb(247, 229, 195);
}
#board .square.square-2 {
   background-color: rgb(160, 101, 53);
}
#board .square.square-1.legal-move {
   background-color: rgb(243, 73, 96);
}
#board .square.square-2.legal-move {
   background-color: rgb(180, 0, 0);
}
#board .square.move-start {
   background-color: rgb(216, 176, 67);
}
#board .square.move-end {
   background-color: rgb(216, 201, 67);
}
#board .square .icon {
   --icon-size: 60px;
   width: var(--icon-size);
   height: var(--icon-size);
   background-image: url("../images/piece-icons.png");
   background-size: calc(var(--icon-size) * 6) calc(var(--icon-size) * 2);
   position: absolute;
   transform: translate(calc(var(--cell-size) / 2 - 50%), calc(var(--cell-size) / 2 - 50%));
   cursor: pointer;
   user-select: none;
   -webkit-user-drag: none;
   z-index: 1;
}
#board .square .icon.dragging {
   z-index: 2;
}

#current-player {
  font-size: 2.5rem;
  width: 100%;
  color: #fff;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 2rem;
}

#game-end-message {
   font-size: 2.25rem;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   user-select: none;
}

.promotion-prompt {
   --icon-size: 40px;
   width: calc(var(--icon-size) * 2);
   height: calc(var(--icon-size) * 2);
   background-color: #fff;
   border: 3px solid #000;
   border-radius: 10px;
   position: absolute;
}
.promotion-prompt .icon {
   width: var(--icon-size);
   height: var(--icon-size);
   background-image: url("../images/piece-icons.png");
   background-size: calc(var(--icon-size) * 6) calc(var(--icon-size) * 2);
   cursor: pointer;
   z-index: 1;
   display: inline-block;
   opacity: 0.8;
}
.promotion-prompt .icon:hover {
   background-color: rgba(0, 0, 0, 0.05);
   opacity: 1;
}